#ifndef CONFIG_H
#define CONFIG_H

#pragma once

#define INIT_WIFI_CONFIG true

#if INIT_WIFI_CONFIG
#define INIT_WIFI_SSID "your_wifi_ssid"
#define INIT_WIFI_PASSWORD "your_wifi_password"
#endif

#endif  // CONFIG_H